body {
  background: #000021;
  font-family: 'NTR', sans-serif;
  color: #C5D2E0;

}

.section-Header {
  padding-bottom: 1em;
  padding-left: 50px;
}

.section {
  padding-top: 10em;
  /* padding-left: 100px; */
  padding-right: 15px;
}

#page{
  padding: 0px 50px;
}

#maintenance{
  text-align: center;
}

h1 {
  color: #e0eef3;
  font-size: 60px;
}


a:hover{
  color: #e0eef3;
}

a {
    text-decoration: none !important;
    color: #68C1D0;
}

.emphasis {
  color: #68C1D0;
}

html{
  scroll-behavior: smooth;
}

/*icon styles*/
/* ------------------------------------------------------------------- */
.icons svg path{
  fill: #FFFFFF !important;
}

.icon-btn:hover{
  width: 40px;
}

.icon-btn {
  padding: 10px 5px;
  width: 35px;
}

.icons{
  padding-top: 10px;
  flex-direction: row;
  display: flex;
}


/*side navbar */
/* ------------------------------------------------------------------- */
.side-navbar{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  right: 0;
  padding-right: 5%;
  top: 10%;
  background-color: transparent;
  font-size: 20px;
}

/*welcome logo*/
/* ------------------------------------------------------------------- */
.typing-container {
      display: flex;
      padding-top: 5em;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }

  .sentence{
    font-size: 70px;
  }

 .input-cursor {
      display: inline-block;
      animation: blink .6s linear infinite alternate;
      width: 2px;
      height: 70px;
      margin-top: 15px;
      background-color: white;
      margin-left: 8px;
}


.messageMeButtons {
  background-color: transparent;
  border-radius: 4px;
  color: #68C1D0;
  border: 2px solid #68C1D0;
  margin-top: 50px;
  padding: 15px 15px;
  width: 200px;
}

.messageMeButtons:hover{
  background-color: #02022b;
  color: white;
  border: 2px solid white;
}

#welcome {
  padding-top: 25em;
  width: 870px;
  padding-left: 50px;
}

#infoButtons{
  display: flex;
  justify-content: space-between;
}

/* about me */
/* ------------------------------------------------------------------- */

#aboutMe{
  padding-top: 12em;
}

#aboutParagraphContainer p{
  font-size: large;
}

#aboutParagraphContainer{
  /* width: 80%; */
  padding-left: 350px;
}

#aboutInfo{
  margin: 0px auto;
  width: 80%;
}

#aboutImage{
  float:left;
}

.techKnown{
  /* text-align: center; */
}

.techList{
  display: inline-block;
  padding: 10px 50px;
}


.myPicture {
  border-radius: 50px;
}

/* Experience */
/* ------------------------------------------------------------------- */

/* Style the tab */
.tab {
  overflow: hidden;
  width: 70%;
}

#experienceInfo{
  margin: 0px auto;
  width: 80%;
}

/* Style the buttons inside the tab */
.tab button {
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 25px;
  transition: 0.3s;
  font-size: 17px;
  background-color: #33334D;
  border-radius: 15px 50px 0px 0px;
  padding-right: 35px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #666679;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #1F4690;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  background-color: #1F4690;
  width: 70%;
  border-radius: 0px 50px 30px;
  height: 300px;
}

.experienceHead{
  padding: 15px 10px;
}

.experienceContent{
  padding-left: 10px;
}

.tabHeading{
  justify-content: space-between;
  display: flex;
}

.experienceDate{
  /* display: flex; */
  float: right;
  padding-top: 20px;
  padding-right: 20px;
}

/* projectsSection */
/* ------------------------------------------------------------------- */
.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 80%;
  margin: 0px auto;
}

.projectsHeader{
  text-align: left;
  padding: 15px 15px;
  color: #C5D2E0;
  justify-content: space-between;
  display: flex;
}

.projectsAbout{
  /* padding: 10px 20px; */
  padding-bottom: 20px;
  padding-left: 20px;
  /* text-align: center; */
  color: #C5D2E0;
  line-height: 40px;
}

.projectBox4{
  display: none;
}

.projectBox:hover {
  background-color: #3A5BA0;
}
.projectBox {
  padding: 10px;
  /* border: 2px solid #68C1D0; */
  margin: 5px;
  background-color: #1F4690;
  /* opacity: 50%; */
}

.projectslogos{
  justify-content: space-between;
  display: flex;
}

.languagesProject{
  text-align: center;
}

.sharelogo{
  padding-right: 20px;
}

.techLogos{
  text-align: center;
  padding-bottom: 10px;
}

.techIcon {
  padding: 10px 5px;
  width: 40px;
}


/* footer */
/* ------------------------------------------------------------------- */
.footer-padding {
	padding-bottom: 30px;
}


.footer {
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 100px;
  padding-top: 20px;
}

.footer p {
	margin-top: 25px;
	font-size: 15px;
  color: #C5D2E0;
  padding-bottom: 40px;
}

/*media screens for later*/
/* ------------------------------------------------------------------- */

@media only screen and (max-width: 1550px) {

  #welcome{
    padding-top: 15em;
  }
}


@media only screen and (max-width: 1300px) {

  .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
  }

  .projectBox4{
    display: inline;
  }

  .projectBox {
    padding: 10px;
    margin: 5px;
  }
}

@media only screen and (max-width: 1050px) {
  .side-navbar{
    display: none;
  }

  #aboutParagraphContainer{
    width: 90%;
  }

  .tabcontent{
    width: 90%;
  }

  .grid-container{
    width: 90%;
  }
}

/* iPhone Screen */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {

  .input-cursor {
    width: 4px;
    height: 90px;
    margin-top: 20px;
  }

  #experienceInfo{
    width: 100%;
  }

  .section{
    width: 100% !important;
    padding-left: 0px;
    padding-right: 0px;
  }

  .sentence{
    font-size: 90px;
    padding-bottom:0px;
    margin-bottom: 0px;
  }

  #welcomeSentence{
    font-size: 50px;
    margin-top: 0px;
    padding-bottom: 20px;
  }

  #welcomeParagraph{
    font-size: 35px;
  }

  #resumeButton{
    float: right;
    margin-right: 80px;
    font-size: 30px !important;
  }

  #contactMe{
    float: left;
    margin-left: 80px;
    font-size: 30px !important;
  }

  p{
    font-size: 35px;
  }

  .section{
    text-align: center;
    width: 90%;
  }

  .section-Header{
    text-align: left;
    font-size: 60px;
  }

  .sentence h1{
    text-align: center;
  }

  body{
    text-align: center;
  }

  .typing-container{
    text-align: center;
    display: inline-flex;
  }

  #aboutInfo{
    width: 100%;
  }


  #aboutImage{
    width: 100%;
    height: 500px;
  }

  .myPicture{
    width: 400px;
    height: 400px;
  }

  #aboutParagraphContainer{
    padding-left: 0px;
    width: 100%;
    /* padding-left:10%; */
  }

  #aboutParagraphContainer p{
    font-size: 40px;
    text-align: center;
  }

  .techKnown{
    font-size: 40px;
  }

  /* Style the buttons inside the tab */
  .tab button {
    font-size: 40px;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    text-align: left;
    width: 100%;
    border-radius: 0px 50px 30px;
    height: 900px;
  }

  .tabHeading{
    display: inline-block;
    text-align: center;
    justify-content: center;
    display:inline-block;
    width: 100%;
  }

  .experienceHead{
    font-size: 40px;
    padding-left: 10px;
    padding-top: 15px;
  }

  .experienceDate{
    text-align: center;
    float: none;
    padding-bottom: 10px;
    padding-top: 0px;
    width: auto;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
  }

  .projectBox {
    padding: 10px;
    margin: 5px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
  }

  .techIcon {
    width: 80px;
  }

  .footer p {
    font-size: 25px;
    padding-bottom: 60px;
  }
}
