body {
  background-color: #112b3c;
  /* font-family: 'NTR', sans-serif; */
  font-family: "Source Code Pro", monospace;
  color: #cecece;
}

button {
  cursor: pointer;
}

h2 {
  color: #efefef;
}

li {
  list-style: none;
}

.section-header-div {
  padding-bottom: 1em;
  display: flex;
}

.section-Header {
  /* padding-left: 50px; */
}

.section-header-divider {
  background-color: #cecece;
  height: 1px;
  width: 300px;
  margin-top: 20px;
  margin-left: 10px;
}

.section {
  padding-top: 8em;
  /* padding-left: 100px; */
  margin: auto;
  width: 70%;
  /* padding-right: 15px; */
  /* padding-left: 50px; */
}

#page {
  padding: 0px 50px;
}

#maintenance {
  text-align: center;
}

h1 {
  color: #efefef;
  font-size: 60px;
}

a:hover {
  color: #f6a50e;
}

a {
  text-decoration: none !important;
  color: #f66b0e;
}

.emphasis {
  color: #f66b0e;
}

html {
  scroll-behavior: smooth;
}

/* Floating socials */

.left-social li,
.right-social li {
  margin: 25px 0;
}

.left-social,
.right-social {
  position: fixed;
  top: 50vh;
  color: var(--text-teal);
}

.email {
  writing-mode: vertical-rl;
}

.left-social {
  left: 40px;
  padding-left: 0px;
}

.right-social {
  right: 40px;
}

.vertical-line {
  height: 50vh;
  background-color: white;
  width: 2px;
  margin: 0 6px;
  overflow: hidden;
}

.left-social li :not(div):hover {
  transform: scale(1.5);
  transition-duration: 0.3s;
}

/*icon styles*/
/* ------------------------------------------------------------------- */
.icons svg path {
  fill: #ffffff !important;
}

.icon-btn:hover {
  width: 40px;
}

.icon-btn {
  padding: 10px 5px;
  width: 35px;
}

.icons {
  padding-top: 10px;
  flex-direction: row;
  display: flex;
}

/*side navbar */
/* ------------------------------------------------------------------- */
.side-navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  right: 0;
  padding-right: 5%;
  top: 10%;
  background-color: transparent;
  font-size: 20px;
}

/*navbar */
/* ------------------------------------------------------------------- */
#logo {
  width: 40px;
  height: 40px;
  /* border-radius: 40%; */
}

nav li {
  list-style: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: top 0.3s;
  z-index: 10;
}

nav ul {
  display: flex;
  margin-bottom: 0;
}

nav li {
  margin: auto 40px;
}

.shadow {
  /* box-shadow: 0px 1px 10px rgba(122, 122, 122, 0.25); */
  /* background-color: red; */
  /* background-color: rgba(14, 36, 51, 0.95); */
  transition: all 0.3s;
  backdrop-filter: blur(10px);
}

.hamburger {
  display: none;
}

.side-bar-nav {
  display: none;
}

/*welcome logo*/
/* ------------------------------------------------------------------- */
.typing-container {
  display: flex;
  padding-top: 5em;
}

#welcomeParagraph {
  width: 75%;
  margin-top: 20px;
}

#welcome-content {
  /* width: 870px; */
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.sentence {
  font-size: 70px;
}

.input-cursor {
  display: inline-block;
  animation: blink 0.6s linear infinite alternate;
  width: 2px;
  height: 70px;
  margin-top: 15px;
  background-color: white;
  margin-left: 8px;
}

/* .messageMeButtons {
  background-color: transparent;
  border-radius: 4px;
  color: #F66B0E;
  border: 2px solid #F66B0E;
  margin-top: 50px;
  padding: 15px 15px;
  width: 200px;
} */

.messageMeButtons {
  background-color: transparent;
  border-radius: 4px;
  color: #f66b0e;
  border: 2px solid #f66b0e;
  /* margin-top: 50px; */
  padding: 10px 10px;
  /* width: 200px; */
}

.messageMeButtons:hover {
  background-color: #f6a50e;
  color: #112b3c;
  border: 2px solid #112b3c;
}

#welcome {
  padding-top: 25em;
  min-height: 90vh;
  padding-top: 18%;
  /* width: 870px; */
  /* padding-left: 50px; */
}

#infoButtons {
  display: flex;
  justify-content: space-between;
}

/* about me */
/* ------------------------------------------------------------------- */

#aboutMe {
  padding-top: 10vh;
}

#aboutParagraphContainer p {
  font-size: large;
}

#aboutParagraph {
  min-height: 300px;
}

#aboutParagraphContainer {
  /* width: 80%; */
  /* padding-left: 350px; */
}

#aboutInfo {
  /* margin: 0px auto;
  width: 70%; */
}

#aboutImage {
  float: left;
  padding-right: 20px;
}

.techKnown {
  text-align: center;
}

.techList {
  display: flex;
  padding-left: 0px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tech-used {
  border-radius: 5px;
  background-color: #205375;
  padding: 5px 10px;
  margin: 5px 40px;
}

.tech-used:hover {
  transform: scale(1.1);
}

.myPicture {
  border-radius: 50px;
  border: 4px solid #f66b0e;
}

/* Experience */
/* ------------------------------------------------------------------- */

/* Style the tab */
.tab {
  overflow: hidden;
  width: 20%;
  /* width: 70%; */
}

.tablinks {
  width: 100%;
}

.experiences-header {
  display: flex;
  justify-content: space-between;
}

#experienceInfo {
  margin: 0px auto;
  display: flex;
  width: 100%;
  min-height: 60vh;
}

/* Style the buttons inside the tab */
.tab button {
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  height: 50px;
  /* padding: 14px 25px; */
  transition: 0.3s;
  font-size: 15px;
  background-color: transparent;
  text-align: left;
  /* border-radius: 15px 50px 0px 0px; */
  /* padding-right: 35px; */
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgba(246, 107, 14, 0.5);
  color: white;
}

/* Create an active/current tablink class */
.tab button.active {
  /* background-color: #f66b0e; */
  border-left: 2px solid #f66b0e;
  color: #f66b0e;
}

.tab button.active:hover {
  color: white;
}

/* Style the tab content */
.tab-content-information {
  width: 80%;
}

.tabcontent {
  display: none;
  padding: 0px 12px;
  /* background-color: #205375; */
  position: relative;
  width: 100%;
  /* border-radius: 0px 30px 0px 0px; */
  min-height: 60vh;
}

.tab-logo {
  height: 120px;
  text-align: center;
  display: contents;
  /* width: 100%; */
  /* text-align: center;
  bottom: 0px;
  position: absolute;
  right: 10%; */
}

.experiences-logos {
  display: none;
}

#west-logo {
  margin-bottom: 20px;
}

.experienceBullets {
  list-style: disc !important;
  padding-bottom: 10px;
  margin-left: 15px;
}

.experienceHead {
  padding: 0px 10px 0px 10px;
}

.experienceContent {
  padding-left: 10px;
  font-size: 18px;
}

.tabHeading {
  /* justify-content: space-between;
  display: flex; */
}

.experienceDate {
  /* display: flex; */
  /* float: right; */
  /* padding-top: 20px;
  padding-right: 20px; */
  padding: 0px 10px;
}

/* projectsSection */
/* ------------------------------------------------------------------- */

.carousel {
  margin: auto;
  border-radius: 55px 55px 55px 55px;
  overflow: hidden;
}

.carousel-caption {
  width: 100%;
  bottom: 0;
  left: 0;
  padding-top: 10px;
  padding-bottom: 0;
  padding-bottom: 15px;
  /* background-color: red; */
  background: rgba(0, 0, 0, 0.6);
}

.carousel-project-section {
  width: 100%;
  margin: auto;
  position: relative;
}

.projectsLogosCarousel {
  justify-content: space-between;
  display: flex;
  width: 20%;
  margin: auto;
}

.project-spacer {
  height: 40px;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 33% 33% 33%;
  width: 100%;
  margin: 0px auto;
}

.projectsHeader {
  text-align: left;
  padding: 15px 15px;
  color: #efefef;
  justify-content: space-between;
  display: flex;
}

.ProjectsHead {
  padding-right: 10px;
}

.projectsAbout {
  /* padding: 10px 20px; */
  padding-bottom: 20px;
  padding-left: 20px;
  /* text-align: center; */
  color: #efefef;
  /* line-height: 40px; */
}

.projectBox4 {
  display: none;
}

.projectbox-slider {
  display: none;
}

.projectBox:hover {
  /* background-color: #3A5BA0; */
}

.projectBox {
  padding: 10px;
  /* border: 2px solid #68C1D0; */
  margin: 10px;
  background-color: #205375;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  /* opacity: 50%; */
}

.projectBox:hover {
  transform: scale(1.03);
}

.spacing {
  padding-top: 25px;
}

.logoExperience {
  width: 30px;
}

.projectslogos {
  justify-content: space-between;
  display: flex;
}

.languagesProject {
  text-align: center;
}

.sharelogo {
  padding-right: 20px;
}

.techLogos {
  text-align: center;
  padding-bottom: 10px;
}

.techIcon {
  padding: 10px 5px;
  width: 40px;
}

/* footer */
/* ------------------------------------------------------------------- */
.footer-padding {
  padding-bottom: 30px;
}

#more-div {
  display: none;
}

#footer-links {
  display: none;
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
}

#footer-links li {
  display: inline;
}

.footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding-top: 20px;
}

.footer p:hover {
  color: #f6a50e;
}

.footer p {
  margin-top: 25px;
  font-size: 15px;
  color: #c5d2e0;
  padding-bottom: 40px;
}

/*media screens for later*/
/* ------------------------------------------------------------------- */

@media only screen and (max-width: 1550px) {
  /* #welcome{
    padding-top: 15em;
    min-height: unset;
  } */
}

@media only screen and (max-width: 1300px) {
  .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    /* width: 80%; */
  }

  .projectBox4 {
    display: inline;
  }

  .projectBox {
    padding: 10px;
    margin: 10px;
  }
}

@media only screen and (max-width: 1050px) {
  nav ul {
    display: none;
  }

  .hamburger {
    display: inline-block;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  .left-social,
  .right-social {
    display: none;
  }

  #footer-links {
    display: block;
  }

  .footer-icons {
    color: #c5d2e0;
    padding: 0 20px;
  }

  .change {
    z-index: 12;
  }

  /* Hamburger Button  */

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    z-index: 10;
  }

  #resume-sidebar {
    padding: 10px;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }

  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  /* Sidebar */

  .side-bar-nav {
    display: inline-block;
    height: 100%;
    width: 0;
    position: fixed;
    background-color: #0e2433;
    top: 0;
    right: -55px;
    padding-left: 200px;
    z-index: 1;
    transition: 0.3s;
    padding: 30% 0;
    overflow-x: hidden;
  }

  .open-nav {
    right: 0;
    width: 70%;
  }

  .side-bar-nav {
    padding: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .side-bar-nav a {
    padding: 10px 10px 10px 10px;
    margin: 20px;
  }

  .side-bar-nav a span.small-text {
    display: block;
    text-align: center;
  }

  .side-bar-nav a {
    color: #f66b0e;
    font-size: 2rem;
  }

  .side-bar-nav a:hover {
    color: #f6a50e;
  }

  .no-scroll {
    overflow: hidden;
  }

  .blur {
    filter: blur(5px);
  }

  #about p {
    margin: 30px 0;
  }

  #contact p {
    margin-left: 10%;
    margin-right: 10%;
  }

  #landing .small-text {
    margin-top: max(30%, 300px);
    font: 1em;
  }

  #landing p:not(.small-text) {
    font-size: 1.25rem;
  }

  #landing h1 {
    font-size: 2.5rem;
  }

  #landing span#typed {
    font-size: auto;
    /* display: none; */
  }

  #about {
    margin-top: max(30%, 100px);
    margin-bottom: max(30%, 100px);
  }

  #project-container {
    margin-bottom: max(30%, 200px);
  }

  .project-name {
    font-size: 7vw;
    left: 7vw;
  }

  #landing p:not(.small-text) {
    font-size: max(1rem, 3vw);
  }

  .tech-list {
    margin: 10px;
  }

  #aboutMe {
    padding-top: 10em;
  }

  #welcome {
    /* padding-top: 15em; */
    min-height: unset;
  }

  .side-navbar {
    display: none;
  }

  #aboutParagraphContainer {
    /* width: 90%; */
  }

  .tabcontent {
    /* width: 90%; */
  }

  .grid-container {
    width: 90%;
  }

  .ProjectsHead {
    font-size: 1.5em;
  }

  .fa-projects {
    font-size: 1.5em !important;
  }
}

/* iPhone Screen */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  #logo {
    width: 80px;
    height: 80px;
  }

  .change .bar1 {
    transform: rotate(-45deg) translate(-28px, 22px);
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 75px;
    height: 9px;
    margin: 15px 0;
  }

  #infoButtons {
    justify-content: center;
    padding-top: 5%;
  }

  .side-bar-nav a {
    font-size: 4rem;
  }

  .left-social {
    display: none;
  }

  .right-social {
    display: none;
  }

  .input-cursor {
    width: 4px;
    height: 90px;
    margin-top: 20px;
  }

  #experienceInfo {
    width: 100%;
  }

  .section {
    width: 100% !important;
    padding-left: 0px;
    padding-right: 0px;
  }

  .sentence {
    font-size: 90px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  #welcomeSentence {
    font-size: 50px;
    margin-top: 0px;
    padding-bottom: 20px;
  }

  #welcomeParagraph {
    font-size: 35px;
    width: 100%;
    margin-top: 0px;
  }

  #resumeButton {
    float: right;
    /* margin-right: 80px */
    padding: 25px;
    font-size: 3rem;
  }

  #contactMe {
    font-size: 30px !important;
    padding: 30px;
  }

  .ProjectsHead {
    font-size: 60px;
  }

  .project-paragraph {
    margin-top: auto;
    font-size: 45px;
  }

  .projectsAbout {
    text-align: left;
    padding-top: 10%;
    width: 80%;
    margin: auto;
    height: 60%;
  }

  p {
    font-size: 35px;
  }

  .section {
    text-align: center;
    width: 90%;
  }

  .section-Header {
    text-align: left;
    font-size: 60px;
  }

  .sentence h1 {
    text-align: center;
  }

  body {
    text-align: center;
  }

  .experienceContent {
    font-size: 35px;
  }

  .typing-container {
    text-align: center;
    display: inline-flex;
  }

  #aboutInfo {
    width: 100%;
  }

  #aboutImage {
    width: 100%;
    height: 500px;
  }

  .myPicture {
    width: 400px;
    height: 400px;
  }

  #aboutParagraphContainer {
    padding-left: 0px;
    width: 100%;
    /* padding-left:10%; */
  }

  #aboutParagraphContainer p {
    font-size: 40px;
    text-align: center;
  }

  #aboutParagraph {
    min-height: unset;
  }

  .techKnown {
    font-size: 40px;
  }

  /* Style the buttons inside the tab */
  .tab button {
    font-size: 40px;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    text-align: left;
    width: 100%;
    border-radius: 0px 50px 30px;
    min-height: 30vh !important;
  }

  .tabHeading {
    display: inline-block;
    text-align: center;
    justify-content: center;
    display: inline-block;
    width: 100%;
  }

  .experienceHead {
    font-size: 40px;
    padding-left: 10px;
    padding-top: 15px;
  }

  .experienceDate {
    text-align: center;
    float: none;
    padding-bottom: 10px;
    padding-top: 0px;
    width: auto;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
  }

  .fa-projects,
  .footer-icons {
    font-size: 60px !important;
  }

  .carousel-project-section {
    display: none;
  }

  .projectbox-slider {
    display: inline;
  }

  .projectBox {
    padding: 10px;
    margin: 20px;
    position: relative;
    /* padding-bottom: 50%; */
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    min-height: 40vh;
  }

  .techLogos {
    padding-bottom: 100px;
    position: absolute;
    bottom: 0px;
    width: 100%;
  }

  .logoExperience {
    width: 60px;
  }

  .techIcon {
    width: 80px;
  }

  #more-div {
    display: block;
    padding-top: 40px;
  }

  .project-last {
    display: none;
  }

  .fa-more-less {
    padding: 20px;
  }

  .show-last {
    display: block;
  }

  #more-button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 60px;
    border-radius: 50%;
  }

  button#more-button:focus {
    border: none;
    color: none;
    outline: green;
  }

  .footer {
    padding-top: 8vh;
  }

  #footer-links {
    padding-bottom: 5vh;
  }

  .footer p {
    font-size: 40px;
    padding-bottom: 0px;
  }
}
