<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  <title>Sakurai</title>
</head>

<body>

  <div class="side-navbar">
    <a href="/">/welcome</a>
    <a href="#aboutMe">/about me</a>
    <a href="#experience">/experience</a>
    <a href="#projects">/projects</a>
    <div class="icons">
      <a href="https://www.linkedin.com/in/scottsakurai/"><img class="icon-btn" src="icons/linkedin.svg" alt="linkedin icon" width="30px"></a>
      <a href="https://github.com/scottsak"><img class="icon-btn" src="icons/github.svg" alt="github icon" width="30px"></a>
      <a href="mailto:scott.t.sakurai@gmail.com"><img class="icon-btn" src="icons/gmail.svg" alt="email icon" width="30px"></a>
    </div>
  </div>

  <div id="welcome" class="welcomeMessage section">
    <!--<img class="logoTop" src="images/matrix.gif" alt="My Image" width="300px" height="300px">-->


    <div class="typing-container">
      <p id="type"></p>
      <span class="sentence"><h1>Hello, I am <span class="emphasis">Scott</span></h1></span>
      <span class="input-cursor"></span>
    </div>

    <h2>Welcome to my personal website</h2>
    <p>I am a software engineer based in Long Beach.
      I am interested in web design, ethical hacking, and I like to
      dabble in a little Photoshop every here and there.</p>

    <a href="mailto:scott.t.sakurai@gmail.com"><button type="button" class="messageMe">reach out! <img src="icons/mail.svg" alt="mail icon" width="20px"></button></a>

  </div>

  <div id="aboutMe" class="section aboutMe">
    <h2 class="section-Header">/about me</h2>
    <div id="aboutImage"class="about">
      <img class="myPicture" src="/images/Scott1.jpg" alt="Picture of Scott" width="300px" height="300px">
    </div>
    <div id="aboutParagraph" class="about">
    <p>I am student studying computer science at California State University, Long Beach.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
  </div>

  <div id="experience" class="section experience">
    <h2 class="section-Header">/experiences</h2>
  </div>

  <div id="projects" class="section projects">
    <h2 class="section-Header">/projects</h2>
    <div class="projectBox">
      <h2>Project Name</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

  </div>
  <div class="footer-padding"></div>
  <div class="footer">
    <p>Created by Scott Sakurai</p>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>
