<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

  <title>Sakurai</title>
</head>

<body>
  <div class="section welcomeMessage">

    <img class="logoTop" src=<%=logoGlitches[0]%> alt="My Image" width="300px" height="300px">


    <div class="typing-container">
      <span id="sentence" class="sentence"><h1>hello, I am <span class="emphasis">scott</span></h1></span>
      <span class="input-cursor"></span>
    </div>

    <h2>welcome to my website</h2>
    <p>I am a software engineer based in Long Beach.
      I am interested in full stack development, ethical hacking, and I like to
      dabble in a little Photoshop every here and there.</p>

    <button type="button" class="messageMe">reach out!</button>
  </div>

  <div class="section aboutMe">
    <h2>// about me</h2>
    </h2>
    <p>I am student studying computer science at California State University,
      Long Beach. </p>
  </div>

  <div class="section experience">
    <h2>// experiences</h2>
  </div>

  <div class="section projects">
    <h2>// projects</h2>

  </div>
  <div class="footer-padding"></div>
  <div class="footer">
    <p>Created by Scott Sakurai</p>
  </div>
</body>

</html>
