<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
    <title>Sakurai</title>
  </head>
  <body>
    <div class="welcomeMessage">
      <h1>hello, i am scott</h1>
      <h2>programmer for hire</h2>
    </div>

  </body>
</html>
