body {
  background: #000021;
  font-family: 'NTR', sans-serif;
  color: #C5D2E0;

}

h1 {
  color: #e0eef3;
  font-size: 60px;
}

.emphasis {
  color: #42DB63;
}

.messageMe {
  background-color: transparent;
  border-radius: 4px;
  color: #42DB63;
  border: 2px solid #42DB63;
  padding: 15px 15px;
}

.footer-padding {
	padding-bottom: 60px;
}


.footer {
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 100px;
  padding-top: 20px;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #C5D2E0;
}

.section {
  padding-top: 10em;
  padding-left: 10em;
}
.welcomeMessage{
  padding-bottom: 12em;
  width: 60em;
}

.typing-container {
      display: flex;
      padding-top: 5em;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }

 .input-cursor {
      display: inline-block;
      animation: blink .6s linear infinite alternate;
      width: 2px;
      height: 60px;
      background-color: white;
      margin-left: 8px;
}

.logoTop{
  border-radius: 50%;

}
